---
import '@/styles/globals.css'
import MainLayout from '@/layout/MainLayout.astro'
import Skills from '@/components/Skills'
import HeroSection from '@/components/HeroSection'
import Projects from '@/components/Projects'
import { user} from '@/constants/user'
import Contact from '@/components/Contact'
---

<MainLayout pageTitle="Home">
	<section>
		<HeroSection client:load />
	</section>
	<section>
		<Skills title='Skills' skills={user.skills} client:load />
	</section>
	<section>
		<Projects client:load/>
	</section>
	<!-- <section>
		<Contact client:load/>
	</section> -->
</MainLayout>
