---
import '@/styles/globals.css'
import MainLayout from '@/layout/MainLayout.astro'
import Skills from '@/components/Skills'
import HeroSection from '@/components/HeroSection'
---

<MainLayout pageTitle="Home">
	<section>
		<HeroSection client:load />
	</section>
	<section>
		<Skills client:load />
	</section>
</MainLayout>
